*.[oa]
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
*.pc
/intltool-*
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/include/compiz-common.h
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/po/*.gmo
/metadata/*.xml
/metadata/*.schemas
/src/compiz
/stamp-h1
/config.h.in~
/gtk/gnome/compiz.desktop
/gtk/window-decorator/gtk-window-decorator
/gtk/window-decorator/gwd.schemas
/po/.*
