*.[oa]
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
*.pc
/intltool-*
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/include/compiz-common.h
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/po/*.gmo
/metadata/*.xml
/metadata/*.schemas
/src/compiz
/stamp-h1
/config.h.in~
/gtk/gnome/compiz.desktop
/gtk/window-decorator/gtk-window-decorator
/gtk/window-decorator/gwd.schemas
/po/.*
/metadata/*.kcfg
/metadata/compizrc
/gtk/gnome/*.xml
/kde/window-decorator-kde4/decorator.moc.cpp
/kde/window-decorator-kde4/kde4-window-decorator
/kde/window-decorator-kde4/kwinadaptor.cpp
/kde/window-decorator-kde4/kwinadaptor.h
/kde/window-decorator-kde4/kwinadaptor.moc.cpp
/kde/window-decorator-kde4/window.moc.cpp
/kde/window-decorator/KWinInterface_skel.cpp
/kde/window-decorator/KWinInterface_stub.cpp
/kde/window-decorator/KWinInterface_stub.h
/kde/window-decorator/decorator.moc.cpp
/kde/window-decorator/kde-window-decorator
/kde/window-decorator/window.moc.cpp
